
{% macro displayQuoteList(quotes_list) %}

{% for quotes in quotes_list %}
        <div class=" col-sm-4 ">
            
            <li class="text-center">
                {{quotes.quote}}
                    
            </li>
        </div>

    {% endfor %}

{% endmacro %}

<!-- Displaying posts macro -->
{% macro displayPost(post_list) %}
    {% for post in post_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ post.author}} </h2>
        <p> {{ post.quote | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %}